<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <header>
        <h1>Task Manager</h1>
    </header>
    <main>
        <form th:action="@{/addTask}" method="post">
            <div>
                <label for="name">Task Name:</label>
                <input type="text" id="name" name="name" required>
            </div>

            <button type="submit" id="action" name="action" value="addBtn">Add Task</button>
        </form>

        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th>Task ID</th>
                    <th>Task Name</th>
                    <th>Completed</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task, iterStat : ${tasks}">
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="${task.name}"></td>
                    <td>
                        <input type="checkbox"
                               th:id="${task.taskID}"
                               onclick="updateTask(this)"
                               th:checked="${task.complete}">
                    </td>

                    <form th:action="@{/redirect}" method="post">
                        <td><button type="submit" >Info</button></td>
                    </form>

                    <td>
                    <form th:action="@{/removeTask}" method="post">
                        <input type="hidden" name="removeBtn" th:value="${task.taskID}" />
                        <button type="submit">Remove</button>
                    </form>
                    </td>

                </tr>
                </tbody>
                <button type="submit" name="taskBtn" value="mark">Mark as done</button>
            </table>

        </div>


    </main>
</div>
<script>
    function updateTask(checkbox) {

        console.log('checkbox checked');


        const taskID = checkbox.id
        const complete = checkbox.checked
        console.log(taskID)
        console.log(complete);

        $.ajax({
            type: 'POST',
            url: '/updateTask',
            data: {
                taskID: taskID,
                complete: complete
            },
            success: function(response) {
                console.log('Task updated successfully');

            },
            error: function(xhr, status, error) {
                console.error('Error updating task:', error);

            }
             });

    }
</script>
</body>
</html>

