<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <header>
        <h1>Task Manager</h1>
    </header>
    <main>
        <form th:action="@{/addTask}" method="post">
            <div>
                <label for="name">Task Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div>
                <label for="status">Status:</label>
                <input type="text" id="status" name="status" required>
            </div>

            <button type="submit" id="action" name="action" value="addBtn">Add Task</button>
            <button type="submit" id="btn3" name="third" value="addBtn">Modify Task</button>
        </form>

        <form th:action="removeTasks" method="post">
        <div class="task-table">
            <table>
                <thead>
                <tr>
                    <th>Task ID</th>
                    <th>Task Name</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task, iterStat : ${tasks}">
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="${task.name}"></td>
                    <td th:text="${task.status}"></td>
                    <td><input type="checkbox" th:checked="${checked}"/></td>


                </tr>
                </tbody>
                <button type="submit" >Remove task</button>
            </table>
        </div>
        </form>

    </main>
</div>
</body>
</html>

