<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Secondary Page</title>
</head>
<body>
<h1>Secondary Page</h1>
<p>This is the content of the secondary page.</p>

<form method="post" action="@{/post}">
  <label>
    <input type="checkbox" th:checked="${flag}"/> Flag activated
  </label>
  <label>
    <input type="checkbox" /> Customer activated
  </label>
  <label>
    <input type="checkbox" /> Flag deactivated

  </label>
  <button type="submit">submit</button>
</form>



<a href="/">Go to Main Page</a>
</body>
</html>




